.heading{
  text-align: center;
  margin-bottom: 40px;
  margin-top: -10px;

}

.booking-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 82%;
  margin-top: 100px;
  margin-top: 10px;
}

.booking-form div {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 40px;

}

.booking-form div input {
  padding: 10px;
  border: #1e90ff 1px solid;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: -5px;
}

.booking-form div label {
  font-weight: bold;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

#submit {
  width: fit-content;
  height: fit-content;
  padding: 10px 10px;
  background-color: #1e90ff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .booking-form {
    flex-direction: row;
    gap: 10px;
  }

  .booking-form div {
    flex: 1;
  }

  .booking-form button {
    margin-left: auto;
    align-self: center;
  }
}
