.services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap; /* Allow wrapping on small screens */
    background-color: rgb(36,75,142);
    height: 5vw;
    padding: 5px;
  }
  
  .service-item {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    align-items: center;
    padding: 10px;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    gap: 20px;
  }
  
  .service-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .service-item span {
    margin-left: 10px;
    font-size: 18px;
    color: white;
    text-align: center;
  }

  /* Train icon color */
.service-item:nth-child(1) i {
    color: #007bff; /* Blue for Train */
  }
  
  /* Flight icon color */
  .service-item:nth-child(2) i {
    color: #FF5733; /* Orange for Flight */
  }
  
  /* Taxi icon color */
  .service-item:nth-child(3) i {
    color: #dbf025; /* Yellow for Taxi */
  }
  
  /* Customer Care icon color */
  .service-item:nth-child(4) i {
    color: #28a745; /* Green for Customer Care */
  }
  
  /* Adjustments for tablet screens */
  @media (max-width: 768px) {
    .service-item {
      font-size: 14px;
    }
  
    .service-item img {
      font-size: 25px;
    }
  }

  @media (max-width: 540px) {
    .services {
        gap: 15px; /* Reduce space between items on small screens */
        height: 10vw;
    }

    .service-item {
      font-size: 14px;
    }
  
    .service-item img {
      font-size: 25px;
    }
  }
  
  /* Adjustments for mobile screens */
  @media (max-width: 480px) {
    .services {
      gap: 15px; /* Reduce space between items on small screens */
      height: 20vw;
    }
  
    .service-item {
      font-size: 12px;
    }
  
    .service-item img {
      font-size: 20px;
    }
  }

  @media (max-width: 325px) {
    .services {
        gap: 10px; /* Reduce space between items on small screens */
        height: 20vw;    
    }
  
    .service-item {
      font-size: 10px;
    }
  
    .service-item img {
      font-size: 15px;
    }
  }
  