.homepage {
  text-align: center;
}

.banner {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  flex-wrap: wrap;
}

.banner-item {
  display: block;
  text-align: center;
  flex: 1 1 100px;
  margin: 10px;
}

.banner-item img {
  width: 100px;
  height: 100px;
}

.booking-section {
  padding: 20px;
}

.typewrite{
  color: #76b7ec;
  text-decoration: none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 355px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /* margin: 0 auto; Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation-name: typing;
  animation-duration: 4s;
  animation-timing-function: steps(40, end);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes typing {
  from { width: 310px }
  to { width: 555px }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}